
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ide ###
/.idea
###< ide ###

###> gcloud app engine ###
app.yaml
.gcloudignore
cloud_sql_proxy
###< gcloud app engine ###